.features{
  background-color: blanchedalmond; 
  background-size:cover;
  
  text-align:center;
}
.form{
  background-color:lightblue;
  padding-top:30px;
  text-align:left;
  color:#fff;
}
.education{
  background:blanchedalmond;
  text-align:center;

}
.education1{
  background-color: lightblue;
  text-align:left;
}
.education2{
  background-color: lightblue;
  text-align:left;
  


}
.education3{
  background-color: lightblue;
  text-align:left;

}
.education4{
  background-color: lightblue;
  text-align:Center;

}